
@{
    ViewData["Title"] = "Login";
}
<h1>🚗 Automotive Care</h1>

<h3>Powered by AutoFlow</h3>

<hr />

<p>Welcome to the AutoFlow Garage Management System.</p>

<p>This is our first custom page.</p>